In [9]:
import pandas as pd

In [10]:
train_data = pd.read_csv(r'D:\Resume Projects\Backpack Prediction Challenge\train.csv',index_col=0)
test_data = pd.read_csv(r'D:\Resume Projects\Backpack Prediction Challenge\test.csv',index_col=0)
sample_submission_data=pd.read_csv(r'D:\Resume Projects\Backpack Prediction Challenge\sample_submission.csv')

In [11]:
train_df=pd.DataFrame(train_data)
test_df=pd.DataFrame(test_data)
sample_submission_data_df=pd.DataFrame(sample_submission_data)

In [12]:
train_df.head()

,Brand,Material,Size,Compartments,Laptop Compartment,Waterproof,Style,Color,Weight Capacity (kg),Price
id,,,,,,,,,,
0,Jansport,Leather,Medium,7.0,Yes,No,Tote,Black,11.611723,112.15875
1,Jansport,Canvas,Small,10.0,Yes,Yes,Messenger,Green,27.078537,68.88056
2,Under Armour,Leather,Small,2.0,Yes,No,Messenger,Red,16.643760,39.17320
3,Nike,Nylon,Small,8.0,Yes,No,Messenger,Green,12.937220,80.60793
4,Adidas,Canvas,Medium,1.0,Yes,Yes,Messenger,Green,17.749338,86.02312

In [13]:
test_df.head()

,Brand,Material,Size,Compartments,Laptop Compartment,Waterproof,Style,Color,Weight Capacity (kg)
id,,,,,,,,,
300000,Puma,Leather,Small,2.0,No,No,Tote,Green,20.671147
300001,Nike,Canvas,Medium,7.0,No,Yes,Backpack,Green,13.564105
300002,Adidas,Canvas,Large,9.0,No,Yes,Messenger,Blue,11.809799
300003,Adidas,Nylon,Large,1.0,Yes,No,Messenger,Green,18.477036
300004,NaN,Nylon,Large,2.0,Yes,Yes,Tote,Black,9.907953

In [14]:
sample_submission_data_df.head()

       id   Price
0  300000  81.411
1  300001  81.411
2  300002  81.411
3  300003  81.411
4  300004  81.411

In [15]:
print(train_df.shape)
print(test_df.shape)
print(sample_submission_data_df.shape)

(300000, 10)
(200000, 9)
(200000, 2)

In [17]:
# import pandas as pd
# from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import OneHotEncoder, StandardScaler
# from sklearn.linear_model import LinearRegression
# from sklearn.impute import SimpleImputer
# from sklearn.pipeline import Pipeline
# from sklearn.compose import ColumnTransformer

# # Load datasets
# train_df = pd.read_csv("train.csv")
# test_df = pd.read_csv("test.csv")

# # Data Cleaning: Handle missing values
# train_df.dropna(subset=["Price"], inplace=True)  # Drop rows where price is missing
# train_df.fillna(method='ffill', inplace=True)
# test_df.fillna(method='ffill', inplace=True)

# # Define features and target
# X = train_df.drop(columns=["id", "Price"])
# y = train_df["Price"]

# # Identify categorical and numerical columns
# categorical_cols = X.select_dtypes(include=["object"]).columns
# numerical_cols = X.select_dtypes(exclude=["object"]).columns

# # Preprocessing pipelines
# categorical_transformer = Pipeline(steps=[
#     ('encoder', OneHotEncoder(handle_unknown='ignore'))
# ])

# numerical_transformer = Pipeline(steps=[
#     ('imputer', SimpleImputer(strategy='mean')),
#     ('scaler', StandardScaler())
# ])

# preprocessor = ColumnTransformer(
#     transformers=[
#         ('num', numerical_transformer, numerical_cols),
#         ('cat', categorical_transformer, categorical_cols)
#     ]
# )

# # Train-test split
# X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

# # Model pipeline
# model = Pipeline(steps=[
#     ('preprocessor', preprocessor),
#     ('regressor', LinearRegression())
# ])

# # Train the model
# model.fit(X_train, y_train)

# # Evaluate the model
# score = model.score(X_val, y_val)
# print(f"Model R^2 Score: {score:.4f}")

# # Predict on test set
# test_features = test_df.drop(columns=["id"])
# test_predictions = model.predict(test_features)

# test_df["Predicted Price"] = test_predictions
# test_df.to_csv("predicted_test.csv", index=False)
# print("Predictions saved to predicted_test.csv")